.gameContainer {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: auto;
}

main {
    height: 1000px;
}

.game {
    margin-top: 20px;
    min-width: 50%;
}

.liked {
    color: red;
}

.g1 {
    margin-left: 10px
}

.g2 {
    margin-right: 50px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
}

wired-card {
    display: block;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 600px;
    margin-top: 20px
}