.gameContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:flex-start;
    height: 100%;
}

.box {
    border: 5px red solid;
    height: 500px;
    width: 500px;
    margin-top: 20px;
}