
@import '~antd/dist/antd.css';

:root {
    --primary: #A7F2D7;
    --primary-v: #88BFBA;
    --secondary: rgb(68, 101, 107);
    --secondary-v: #7AB3BF;
    --surface: rgb(97, 97, 97);
    --background: #F0F7EE;
}