#topNav {
    display: flex;
    justify-content: space-between;
}

#logoContainer img {
    max-height: 200px;
    margin-top: -20px;
}

.nav-link {
    font-size: 3.5em;
    font-family: 'Gaegu', cursive;
    font-weight: 700;
}

.nav-link::after {
    background-color: rgb(150, 150, 150);
}
.logo {
    margin-right: 20px;
}

#NavMenu {
    width: 490px;
}

#linksContainer {
    max-height: 83px;
    margin-top: 38px;
    margin-right: 10px;
    width: 540px;
    padding-top: 20px;
    padding-left: 25px;
}

#linksContainer > :first-child {
    background-color: rgb(150, 150, 150);
}

#linksContainer > :first-child > li > a {
    color: var(--fav-color);
}

#combo {
    margin-top: 40px;
    left: 330px;
    width: auto;
    /* background-color:  rgb(150, 150, 150); */
    --wired-item-selected-color:  var(--fav-color);
    --wired-item-selected-bg: rgb(150, 150, 150);
    font-weight: 700;
    font-size: 1.2em;
}
