#topNav {
    display: flex;
    justify-content: space-between;
}

#logoContainer img {
    max-height: 200px;
    margin-top: -20px;
}

.nav-link {
    font-size: 2.5em;
}

.logo {
    margin-right: 20px;
}

#linksContainer {
    height: 100px;
    margin-top: 50px;
}

#linksContainer > :first-child {
    background-color: rgb(97, 97, 97);
}

#linksContainer > :first-child > li > a {
    color: #A7F2D7;
}